<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_METHOD} !GET
  RewriteRule ^(.*)$ post_handler.php [QSA,NC,L]

  RewriteCond %{REQUEST_METHOD} =GET
  #RewriteRule ^(.*)$ index.php?url=$1&%{QUERY_STRING} [NC,PT,L]
  RewriteRule ^(.*)$ index.php?url=$1 [QSA,NC,PT,L]
</IfModule>
